# Rust
/target/
Cargo.lock
**/*.rs.bk
*.pdb

# generated protobuf code
src/grpc_client/generated/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace
.history/

# Docker
.dockerignore

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V7
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

# Secrets
.env
.env.*
!.env.example
*.pem
*.key
*.crt